<template>
  <div class="home">
    <h1>{{ message }}</h1>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { VueCookieNext } from "vue-cookie-next";
import { useStore } from "vuex"

export default defineComponent({
  name: "Home",
  setup() {
    const message = ref("You are not authenticated!");
    const store = useStore()


    onMounted(async () => {
      try {
        const response = await fetch("http://localhost:8000/api/user", {
          method: "GET",
          headers: { "Content-Type": "application/json" },
          credentials: "include",
        });

        const res = await response.json();
        message.value = `Hi ${res.fname}!`;
        VueCookieNext.setCookie("name", res.fname);
        store.dispatch('setAuth', true)
      } catch (e) {
        VueCookieNext.removeCookie("name")
        store.dispatch('setAuth', false)
      }
    });

    return {
      message,
    };
  },
});
</script>
