<template>
  <main class="form-signin">
    <form @submit.prevent="submit">
      <h1 class="h3 mb-3 fw-normal">Register</h1>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          placeholder="Your first name"
          v-model="data.fname"
        />
        <label for="floatingInput">Your first name</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          placeholder="Your mid name"
          v-model="data.mname"
        />
        <label for="floatingInput">Your mid name</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          placeholder="Your last name"
          v-model="data.lname"
        />
        <label for="floatingInput">Your last name</label>
      </div>
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          v-model="data.email"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          v-model="data.password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Send
      </button>
    </form>
  </main>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue'
import { useRouter } from 'vue-router'

export default defineComponent({
  setup() {
    const data = reactive({
      fname: "",
      mname: "",
      lname: "",
      email: "",
      password: "",
    })

    const router = useRouter()

    const submit = async () => {
      const response = await fetch("http://localhost:8000/api/register", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data)
      })

      if(response.status == 200) {
        router.push('/login')
      }
    }

    return {
      data,
      submit
    }
  },
})
</script>


<style>
html,
body {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
</style>