<template>
  <div class="user">
    <h1>User detail.</h1>
    <table style="width:333px;text-align:left;margin:auto;">
      <tr>
        <td style="width:70px;">
          Name
        </td>
        <td style="width:3px;">
          :
        </td>
        <td>
          {{ user.fname + ' ' + (user.mname != null ? user.mname : '') + ' ' + user.lname }}
        </td>
      </tr>
      <tr>
        <td>
          Email
        </td>
        <td>
          :
        </td>
        <td>
          {{ user.email }}
        </td>
      </tr>
      <tr>
        <td>
          Join at
        </td>
        <td>
          :
        </td>
        <td>
          {{ user.created_at }}
        </td>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive } from "vue";
import { VueCookieNext } from "vue-cookie-next";
import { useStore } from "vuex";
import dayjs from 'dayjs'

export default defineComponent({
  name: "User",
  setup() {
    const store = useStore();
    const user = reactive({
      fname: null,
      mname: null,
      lname: null,
      email: null,
      created_at: "",
      updated_at: null,
    })

    onMounted(async () => {
      try {
        const response = await fetch("http://localhost:8000/api/user", {
          method: "GET",
          headers: { "Content-Type": "application/json" },
          credentials: "include",
        });

        const res = await response.json();

        const created_at = dayjs(res.created_at).format('dddd, DD-MMMM-YYYY HH:MM:ss')

        user.fname = res.fname
        user.mname = res.mname
        user.lname = res.lname
        user.email = res.email
        user.created_at = created_at
        user.updated_at = res.updated_at

        VueCookieNext.setCookie("name", res.fname);
        store.dispatch("setAuth", true);
      } catch (e) {
        VueCookieNext.removeCookie("name");
        store.dispatch("setAuth", false);
      }
    });

    return {
      user
    };
  },
});
</script>
